[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "==1.21"
pandas = "*"
matplotlib = "==3.2.2"
seaborn = "==0.10"
scikit-learn = "*"
lightgbm = "*"
jupyter = "*"

[dev-packages]

[requires]
python_version = "3.9"
